.contact-list-container{
    height:50%; 
    overflow-y: auto;
}

/* width */
.contact-list-container::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  .contact-list-container::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  /* Handle */
  .contact-list-container::-webkit-scrollbar-thumb {
    background: #c6c6c6; 
  }
  
  /* Handle on hover */
  .contact-list-container::-webkit-scrollbar-thumb:hover {
    background: #a2a2a2; 
  }